<div 
  class="flex items-center justify-center min-h-screen px-5 py-5 bg-teal-900 min-w-screen "
>
  <div 
    class="relative w-full mx-auto overflow-hidden text-gray-800 shadow-xl rounded-xl "
    style="max-width: 350px"
  >
    <h1 class="py-10 text-3xl font-bold text-center text-white">Angular Calculator</h1>

    
    <!--calculator screen --> 
    <div class="w-full h-40 text-right bg-gradient-to-b from-gray-800 to-gray-700 ">
   
        <!-- function screen --> 
        <div class="w-full px-6 py-5 text-2xl font-thin text-white">
          {{funcT}}
        </div>

        <!-- number screen -->
        <div class="w-full px-6 py-5 text-6xl font-thin text-white">
          {{calcValue|number}}
        </div>
        
    </div>

    <!-- end calculator screen -->

    <!-- calculator button area -->
    <div class="w-full bg-gradient-to-b from-red-500 to-red-800">

        <!-- first button row -->
        <div class="flex w-full">
            <!--clear button-->
            <div class="w-2/4 border-b border-r border-red-400 ">
                <button class="w-full h-16 text-xl font-light text-white outline-none hover:bg-red-700 hover:bg-opacity-20" (click)="onClickValue('c','function')">
                  C
                </button>

            </div>
            <!-- end clear button-->

            <!--percentage button -->
            <div class="w-1/4 border-b border-r border-red-400">
              <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('%','function')" >
                  %
              </button>
            </div>
            <!-- end percentage button -->

            <!-- division button -->

            <div class="w-1/4 border-b border-red-400 broder-r">
                <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('/','function')">
                  /
                </button>
            </div>
            
        </div>
        <!-- end first button row -->

        <!--second button area-->
        <div class="flex w-full">
          
            <!--number 7 button-->
            <div class="w-1/4 border-b border-r border-red-400">
                <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('7','number')">
                  7
                </button>
            </div>

            <!--number 8 button-->
            <div class="w-1/4 border-b border-r border-red-400">
                      <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('8','number')">
                        8
                      </button>
            </div>

            <!--number 9 button-->
            <div class="w-1/4 border-b border-r border-red-400">
                          <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('9','number')">
                            9
                          </button>
            </div>

            <!--multiplication button-->
            <div class="w-1/4 border-b border-r border-red-400">
                          <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('*','function')">
                            *
                          </button>
            </div>
            
        </div>
        <!-- end second button area-->

        <!--third button area-->
        <div class="flex w-full">
          
          <!--number 4 button-->
          <div class="w-1/4 border-b border-r border-red-400">
              <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('4','number')">
                4
              </button>
          </div>

          <!--number 5 button-->
          <div class="w-1/4 border-b border-r border-red-400">
                    <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('5','number')">
                      5
                    </button>
          </div>

          <!--number 6 button-->
          <div class="w-1/4 border-b border-r border-red-400">
                        <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('6','number')">
                          6
                        </button>
          </div>

          <!--minus button-->
          <div class="w-1/4 border-b border-r border-red-400">
                        <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('-','function')">
                          -
                        </button>
          </div>
          
      </div>
      <!-- end third button area-->
        
      <!--fourth button area-->
      <div class="flex w-full">
          
          <!--number 1 button-->
          <div class="w-1/4 border-b border-r border-red-400">
              <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('1','number')">
                1
              </button>
          </div>

          <!--number 2 button-->
          <div class="w-1/4 border-b border-r border-red-400">
                    <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('2','number')">
                      2
                    </button>
          </div>

          <!--number 3 button-->
          <div class="w-1/4 border-b border-r border-red-400">
                        <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('3','number')">
                          3
                        </button>
          </div>

          <!--plus button-->
          <div class="w-1/4 border-b border-r border-red-400">
                        <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('+','function')">
                          +
                        </button>
          </div>
          
      </div>
      <!-- end fourth button area-->    
      
      <!--fifth button row-->
      <div class="flex w-full">
        
          <!--number 0 button-->
          <div class="w-1/4 border-b border-r border-red-400 ">
                        <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('0','number')">
                          0
                        </button>
          </div>

          <!--decimal button-->
          <div class="w-1/4 border-b border-r border-red-400 ">
                      <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('.','function')">
                        .
                      </button>
          </div>

          <!--equal button-->
          <div class="w-2/4 border-b border-r border-red-400 ">
                      <button class="w-full h-16 text-xl font-light text-white outline-none focus:outline-none hover:bg-red-700 hover:opacity-50" (click)="onClickValue('=','function')">
                        =
                      </button>
          </div>
        
      </div>
       <!-- end fifth button area-->  
        
    </div>

  </div>
</div>







